/* ============================== Mobile =========================== */
@media screen and (min-width: 320px) {
  .inputMargin {
    margin-bottom: 10px;
  }
  .newPasswordBox {
    background-color: #2a2c36;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    margin: 30px auto;
  }
  .newPasswordHeader {
    display: flex;
    color: #fafafa;
    font-size: 14px;
  }

  .newPasswordButton {
    padding: 10px;
    width: 300px;
    background-color: #8baa36;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .newPasswordButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .newPasswordLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;
    font-size: 18px;
  }
  .newPasswordLink:focus,
  .newPasswordLink:hover {
    color: #fafafa;
  }
  .inputWidth {
    width: 300px;
  }
}
@media screen and (min-width: 380px) {
  .newPasswordBox {
    padding: 0px 40px 40px 40px;
  }
}
@media screen and (min-width: 550px) {
  .newPasswordBox {
    padding: 0px 40px 40px 40px;
    width: 360px;
  }
}

/* ============================== Tablet =========================== */

@media screen and (min-width: 768px) {
  .newPasswordBox {
    background-color: #2a2c36;
    border-radius: 20px;
    max-width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 40px 40px;
    margin: 30px auto;
  }
  .newPasswordHeader {
    display: flex;
    color: #fafafa;
  }

  .newPasswordButton {
    padding: 10px;
    width: 300px;
    background-color: #8baa36;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .newPasswordButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .newPasswordLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;
    font-size: 18px;
  }
  .newPasswordLink:focus,
  .newPasswordLink:hover {
    color: #fafafa;
  }

  .inputMargin {
    margin-bottom: 10px;
  }
}

/* ====================== Desktop =========================== */

@media screen and (min-width: 1080px) {
  .newPasswordBox {
    background-color: #2a2c36;
    border-radius: 20px;
    max-width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 40px 40px;
    margin: 30px auto;
  }
  .newPasswordHeader {
    display: flex;
    color: #fafafa;
  }

  .newPasswordButton {
    padding: 10px;
    width: 300px;
    background-color: #8baa36;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .newPasswordButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .newPasswordLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;
    font-size: 18px;
  }
  .newPasswordLink:focus,
  .newPasswordLink:hover {
    color: #fafafa;
  }

  .inputMargin {
    margin-bottom: 10px;
  }
}

/* ============================================================= */

.iconMargin {
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.walletIcon {
  margin-right: 20px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.newPasswordLinkSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newPasswordLinkMargin {
  margin-top: 10px;
}
