@media screen and (min-width: 320px) {
  .resetContainer {
    display: flex;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/BlackBackgroundMobile.svg);
  }
  .resetHeader {
    width: 80%;
    margin: 0 auto;
  }
  .resetLink {
    color: #8baa36;
  }

  .resetFormConteiner {
    margin: 0 auto;
    height: 643px;
    width: 90%;
    min-width: 300px;
    
  }
}

@media screen and (min-width: 420px) {

  .resetContainer {
    display: flex;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/BlackBackgroundTablet.svg);
  }
}

@media screen and (min-width: 780px) {

  .resetContainer {
    display: flex;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/BlackBackground.svg);
  }
}


