@media screen and (min-width: 320px) {
  .resetPasswordForm {
    background-color: #2a2c36;
    border-radius: 20px;
    min-width: 300px;
    width: 100%;
    max-width: 533px;
    display: flex;
    flex-direction: column;
    margin: 90px auto 0;
  }
  .resetPasswordButton {
    padding: 10px;
    width: 80%;
    height: 60px;
    background-color: #8baa36;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .resetPasswordButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .resetPasswordHeader {
    color: #fafafa;
    font-size: 16px;
  }
  .resetPasswordLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;
    font-size: 18px;
  }

  .resetPasswordLink:focus,
  .resetPasswordLink:hover {
    font-family: "Open Sans", sans-serif;
    color: #fafafa;
    font-size: 18px;
  }
  .inputWidth {
    width: 80%;
  }
  .resetPasswordLinkSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .resetPasswordLinkMargin {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.iconMarginPost {
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.walletIcon {
  margin-right: 20px;
  margin-bottom: 5px;
}

.inputMargin {
  margin-bottom: 10px;
}

