

.avatarImage {
  width: 35px;
  height: 35px;
}
.userNav:hover .userNav1{
  transform: scale(1.1);
}
.userNav:hover .usernameText{
  color: "#8baa36",
}
.usernameText {
  margin: 0;
  height: 23px;
  text-transform: none;
}
.userNav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.user {
  background-color: transparent;
}

.userTest:hover {
  background-color: none;
  color: none;
}
.userModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
