/* ============================== Mobile =========================== */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .verifyBox {
    margin: 10px auto;
  }

  .verifyButton {
    max-width: 280px;
  }

  .inputWidth {
    max-width: 300px;
  }
  .verifyForm {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 400px; */
  }
}

/* ============================== Tablet =========================== */
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .verifyBox {
    padding: 30px;
    margin: 0px auto 200px auto;
  }

  .verifyButton {
    max-width: 330px;
  }
}

/* ====================== Desktop =========================== */
@media screen and (min-width: 1080px) {
  .verifyBox {
    background-color: #2a2c36;
    border-radius: 20px;
    max-width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 40px 40px;
    margin: 50px auto;
    height: 400px;
  }
  .verifyFormHeader {
    display: flex;
    color: #fafafa;
  }
  .verifyButton {
    padding: 10px;
    width: 300px;
    background-color: #8baa36;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .verifyButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .verifyLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;
    font-size: 18px;
  }

  .verifyLink:focus,
  .verifyLink:hover {
    color: #fafafa;
  }
  .verifyForm {
    height: 400px;
  }
  .verifyLinkSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
}

/* ============================================================= */

.iconMarginPost {
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.walletIcon {
  margin-right: 20px;
  margin-bottom: 5px;
}

.inputWidth {
  width: 410px;
}

.inputMargin {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}



.verifyLinkMargin {
  margin-top: 10px;
}
