/* ============================== Mobile =========================== */
@media screen and (min-width: 320px) {

  .verifyBox{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .verifyForm {
    background-color: #2a2c36;
    border-radius: 20px;
    min-width: 300px;
    width: 100%;
    max-width: 533px;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
  }
  .verifyFormHeader {
    color: #fafafa;
    font-size: 16px;
  }
  

  .verifyButton {
    padding: 10px;
    width: 80%;
    height: 60px;
    background-color: #8baa36;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .verifyButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .verifyLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;
    font-size: 18px;
  }

  .verifyLink:focus,
  .verifyLink:hover {
    font-family: "Open Sans", sans-serif;
    color: #fafafa;
    font-size: 18px;
  }
  .inputWidth {
    width: 80%;
  }
  .verifyLinkSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }

  .verifyLinkMargin {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

