/* ============================== mobile =========================== */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .loginBox {
    margin: 10px auto;
    padding: 10px;
  }
  .loginButton,
  .registrationButton {
    max-width: 280px;
  }
  .inputWidth {
    max-width: 300px;
  }
  .inputWidthFirst {
    max-width: 300px;
  }
}
/* ============================== Tablet =========================== */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .loginBox {
    padding: 30px;
    margin: 0px auto 200px auto;
  }
  .loginButton,
  .registrationButton,
  .loginInput {
    max-width: 410px;
  }
}
/* ======================Desktop=========================== */

@media screen and (min-width: 1280px) {
  .loginBox {
    padding: 15px 10px 10px 10px;
    margin: 160px auto;
    background-color: #2a2c36;
    border-radius: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 150px; */
  }
  .loginFormHeader {
    display: flex;
    font-weight: 500;
    font-size: 30px;
    color: #fafafa;
    text-align: left;
    width: 400px;
  }
  .loginBoxTitle {
    padding-right: 30px;
  }
  .loginInput {
    margin-bottom: 30px;
  }
  .loginInput:focus {
    outline: none;
  }
  .loginInputEmail {
    /* background-image: url("../../images/email.svg"); Ścieżka do pliku SVG z ikoną koperty */
    background-size: 30px;
    background-repeat: no-repeat;
    justify-items: center;
  }
  .loginInputPassword {
    /* background-image: url("../../images/lock.svg"); Ścieżka do pliku SVG z ikoną koperty */
    background-size: 20px;
    background-repeat: no-repeat;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
  }

  .error {
    color: red;
    margin-top: 5px;
  }
  .registrationButton,
  .loginButton {
    padding: 10px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
  }
  .loginButton {
    padding: 10px;
    width: 300px;
    background-color: #8baa36;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 40px;
  }

  .loginButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .registrationButton {
    background-color: transparent;
    color: #fafafa;
    border: 2px solid #8baa36;
    width: 300px;
    border-radius: 8px;
    cursor: pointer;

    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 40px;
  }

  .registrationButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }

  .walletIcon {
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .inputWidthFirst {
    width: 410px;
    color: #fafafa;
    /* margin-bottom: 100px; */
  }

  .inputWidth {
    width: 410px;
  }

  .iconMargin {
    margin-bottom: 7px;
    margin-left: 10px;
  }

  .iconMarginPost {
    margin-left: 10px;
    margin-right: 16px;
  }

  .inputMarginFirst {
    margin-bottom: 5px;
    color: #fafafa;
  }

  .inputMargin {
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
  }

  .verifyLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;
    font-size: 14px;
  }

  .verifyLink:hover {
    
    
    color: #fafafa;
  }
}
