.container {
  margin-left: 2px;
  width: 75%;
}
.title {
  font-size: 34px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.classicContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.classicView {
  width: 300px;
  height: 200px;
  background-image: url("../../images/searchImage.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
    width: 100%;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .infoHead {
    width: 100%;
    height: 50px;
    color: #fafafa;
    background-color: #8baa36;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .front {
    font-size: 12px;
    margin-left: 30px;
  }
  .back {
    font-size: 12px;
    display: flex;
    gap: 15px;
        padding-right: 10px;

  }

  .detailsContainer {
    width: 100%;
    height: 180px;
    background-color: #ebf3d4;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #8baa36;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
    box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
  }
  .detailsFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
  }
  .imageBox {
    height: 60px;
    width: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ingredientImage {
    height: 60px;
    width: 60px;
  }
  .name {
    font-size: 16px;
    font-weight: 500;
    color: #313439;
  }
  .detailsSecond {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* padding-right: 5px; */
  }
  .amount {
    line-height: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 12px;
    background-color: #8baa36;
    color: #fafafa;
    border-radius: 8px;
  }
  .checkBox {
    width: 35px;
    height: 35px;
    position: relative;
  }
  .check:hover {
    cursor: pointer;
  }
  .check {
    width: 35px;
    height: 35px;
    margin: 0;
    position: absolute;
    opacity: 0;
  }

  .prepContainter {
    width: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* padding-left: 25px;
        padding-right: 25px; */
  }
  .prepTextBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2;
    gap: 30px;
  }
  .prepTextTitle {
    font-size: 24px;
    font-weight: 500;
  }
  .prepText {
    font-size: 18px;
  }
  .prepImageBox {
    width: 300px;
    height: 300px;
    border-radius: 8px;
  }
  .prepImage {
    width: 300px;
    height: 300px;
  }
  .deleteButton {
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  .deleteButton svg {
    width: 30px;
    height: 30px;
  }
  .deleteButton:hover svg {
    cursor: pointer;
    fill: #8baa36;
  }
  .deleteButton:hover svg path {
    stroke: #8baa36;
  }

}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
    width: 100%;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .infoHead {
    width: 100%;
    height: 50px;
    color: #fafafa;
    background-color: #8baa36;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .front {
    font-size: 12px;
    margin-left: 30px;
  }
  .back {
    font-size: 12px;
    display: flex;
    gap: 15px;
  }

  .detailsContainer {
    width: 100%;
    height: 180px;
    background-color: #ebf3d4;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #8baa36;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
    box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
  }
  .detailsFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-left: 5px;
  }
  .imageBox {
    height: 60px;
    width: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ingredientImage {
    height: 60px;
    width: 60px;
  }
  .name {
    font-size: 16px;
    font-weight: 500;
    color: #313439;
  }
  .detailsSecond {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* padding-right: 5px; */
  }
  .amount {
    line-height: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 12px;
    background-color: #8baa36;
    color: #fafafa;
    border-radius: 8px;
  }
  .checkBox {
    width: 35px;
    height: 35px;
    position: relative;
  }
  .check:hover {
    cursor: pointer;
  }
  .check {
    width: 35px;
    height: 35px;
    margin: 0;
    position: absolute;
    opacity: 0;
  }

  .prepContainter {
    width: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* padding-left: 25px;
        padding-right: 25px; */
  }
  .prepTextBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2;
    gap: 30px;
  }
  .prepTextTitle {
    font-size: 24px;
    font-weight: 500;
  }
  .prepText {
    font-size: 18px;
  }
  .prepImageBox {
    width: 300px;
    height: 300px;
    border-radius: 8px;
  }
  .prepImage {
    width: 300px;
    height: 300px;
  }
  .deleteButton {
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  .deleteButton svg {
    width: 30px;
    height: 30px;
  }
  .deleteButton:hover svg {
    cursor: pointer;
    fill: #8baa36;
  }
  .deleteButton:hover svg path {
    stroke: #8baa36;
  }
}
@media screen and (min-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
    background-image: url("../../images/basilBottomShop.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0% 300%;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .infoHead {
    width: 100%;
    height: 50px;
    color: #fafafa;
    background-color: #8baa36;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  .front {
    font-size: 18px;
  }
  .back {
    font-size: 18px;
    display: flex;
    gap: 120px;
  }

  .detailsContainer {
    width: 100%;
    height: 180px;
    background-color: #ebf3d4;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8baa36;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
    box-shadow: 0px 0px 6px 0px rgba(139, 170, 54, 1);
  }
  .detailsFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-left: 25px;
  }
  .imageBox {
    height: 140px;
    width: 140px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ingredientImage {
    height: 100px;
    width: 100px;
  }
  .name {
    font-size: 20px;
    font-weight: 500;
    color: #313439;
  }
  .detailsSecond {
    display: flex;
    flex-direction: row;
    gap: 145px;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
  }
  .amount {
    line-height: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 16px;
    background-color: #8baa36;
    color: #fafafa;
    border-radius: 8px;
  }
  .checkBox {
    width: 35px;
    height: 35px;
    position: relative;
  }
  .check:hover {
    cursor: pointer;
  }
  .check {
    width: 35px;
    height: 35px;
    margin: 0;
    position: absolute;
    opacity: 0;
  }

  .prepContainter {
    width: 105%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    /* padding-left: 25px;
            padding-right: 25px; */
  }
  .prepTextBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2;
    gap: 30px;
  }
  .prepTextTitle {
    font-size: 24px;
    font-weight: 500;
  }
  .prepText {
    font-size: 18px;
  }
  .prepImageBox {
    width: 350px;
    height: 300px;
    border-radius: 8px;
  }
  .prepImage {
    width: 350px;
    height: 300px;
  }
  .deleteButton {
    padding: 0;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
  }
  .deleteButton svg {
    width: 35px;
    height: 35px;
  }
  .deleteButton:hover svg {
    cursor: pointer;
    fill: #8baa36;
  }
  .deleteButton:hover svg path {
    stroke: #8baa36;
  }
}
