/* .recipe {
    background-image:
      url("../../frontend/src/images/recipeDesktopBackground.png");
    background-size:  auto;
    background-repeat:  no-repeat;
    background-position:  0% 0%;
} */