.main {
  background-image: url("../../images/homeBottomLeft.png");
  background-repeat: no-repeat;

  background-position: 0% 130% ;
  background-size: auto;

  
}
body {
  background-image: 
      url("../../images/greenBackground.png");
    background-size:  auto;
    background-repeat:  no-repeat;
    background-position:  right top;
}