/* ============================== Mobile =========================== */
@media screen and (min-width: 320px) {
  .registerBox {
    padding: 15px 10px 10px 10px;
    margin: 0 auto 10px;
    background-color: #2a2c36;
    border-radius: 20px;
    min-width: 300px;
    width: 80%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registrationFormHeader {
    font-weight: 500;
    font-size: 30px;
    color: #fafafa;
    min-width: 210px;
    width: 80%;
    max-width: 350px;
  }
  .registrationHeaderText {
    margin: 0 0 10px 0;
    text-align: left;
  }
  .registrationButton {
    margin: 0;
    padding: 10px;
    min-width: 250px;
    width: 80%;
    max-width: 350px;
    background-color: #8baa36;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .registrationButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .loginLink {
    background-color: transparent;
    border: 2px solid #8baa36;
    min-width: 250px;
    width: 80%;
    max-width: 350px;
    border-radius: 8px;
    cursor: pointer;
    color: #fafafa;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .loginButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fafafa;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .loginButton:hover {
    background-color: #fafafa;
    color: #8baa36;

    transition: 0.3s;
  }
  .verifyLinkContainer {
    text-align: center;
  }
  .verifyLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;

    font-size: 14px;
  }

  .verifyLink:hover {
    color: #fafafa;
  }

  .inputWidth {
    width: 80%;
  }

  .inputWidthLast {
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
}

/* ============================== Tablet =========================== */
@media screen and (min-width: 768px) {
  .registerBox {
    padding: 15px 10px 10px 10px;
    margin: 0 auto 10px;
    background-color: #2a2c36;
    border-radius: 20px;
    min-width: 300px;
    width: 80%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registrationFormHeader {
    font-weight: 500;
    font-size: 30px;
    color: #fafafa;
    min-width: 210px;
    width: 80%;
    max-width: 350px;
  }
  .registrationHeaderText {
    margin: 0 0 10px 0;
    text-align: left;
  }
  .registrationButton {
    margin: 0;
    padding: 10px;
    min-width: 250px;
    width: 80%;
    max-width: 350px;
    background-color: #8baa36;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .registrationButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .loginLink {
    background-color: transparent;
    border: 2px solid #8baa36;
    min-width: 250px;
    width: 80%;
    max-width: 350px;
    border-radius: 8px;
    cursor: pointer;
    color: #fafafa;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .loginButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fafafa;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .loginButton:hover {
    background-color: #fafafa;
    color: #8baa36;

    transition: 0.3s;
  }
  .verifyLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;

    font-size: 14px;
  }

  .verifyLink:hover {
    color: #fafafa;
  }

  .inputWidth {
    width: 80%;
  }

  .inputWidthLast {
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
}

/* ====================== Desktop =========================== */
@media screen and (min-width: 1080px) {
  .registerBox {
    padding: 15px 10px 10px 10px;
    margin: 100px auto;
    background-color: #2a2c36;
    border-radius: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registrationFormHeader {
    display: flex;
    font-weight: 500;
    font-size: 30px;
    color: #fafafa;
    text-align: left;
    width: 400px;
  }
  .registrationHeaderText {
    margin: 0 0 10px 0;
  }
  .registrationButton {
    margin: 0;
    padding: 10px;
    min-width: 250px;
    width: 80%;
    max-width: 350px;
    background-color: #8baa36;
    color: #fafafa;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .registrationButton:hover {
    background-color: #fafafa;
    color: #8baa36;
    transition: 0.3s;
  }
  .loginLink {
    background-color: transparent;
    border: 2px solid #8baa36;
    min-width: 250px;
    width: 80%;
    max-width: 350px;
    border-radius: 8px;
    cursor: pointer;
    color: #fafafa;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .loginButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fafafa;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .loginButton:hover {
    background-color: #fafafa;
    color: #8baa36;

    transition: 0.3s;
  }
  .verifyLink {
    font-family: "Open Sans", sans-serif;
    color: #8baa36;

    font-size: 14px;
  }

  .verifyLink:hover {
    color: #fafafa;
  }
}
/* ============================================================= */

.iconMargin {
  margin-bottom: 7px;
  margin-left: 10px;
}

.iconMarginPost {
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.loginFormHeader {
  display: flex;
  font-weight: 500;
  font-size: 30px;
  color: #fafafa;
  text-align: left;
  width: 400px;
}

