@media screen and (min-width: 320px) {
  .mainContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-image: none

  }
}
@media screen and (min-width: 768px) {
  .mainContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-image: url(../../images/homeLeaves.png);
    background-size: auto;
    background-repeat: no-repeat, no-repeat;
    background-position: left 110%;
  }
}
@media screen and (min-width: 1080px) {
  .mainContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-image: url(../../images/categoriesBottom.png);
    background-size: auto;
    background-repeat: no-repeat, no-repeat;
    background-position: right 110%;
  }
}
.otherBtn {
  width: 240px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-bottom: 100px;
}
.otherBtn:hover svg path:nth-child(1) {
  fill: #8aa936;
  cursor: pointer;
}
.otherBtn:hover svg path:nth-child(2) {
  fill: #fafafa;
  cursor: pointer;
}
